<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>
        {% if title %}
          {{ title }} -
        {% endif %}
          Lahoma Healing Arts
      </title>

      {% block metas %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endblock metas %}

      {% block styles %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css', u=last_updated) }}">
      {% endblock styles %}

      {% block scripts %}
        <script async type="text/javascript" src="{{ url_for('static', filename='js/menu.js') }}"></script>
      {% endblock scripts %}

      <!-- Google Tag Manager -->

      <!-- End Google Tag Manager -->

      <!-- Global site tag (gtag.js) - Google Analytics -->

      <!-- Global site tag (gtag.js) - Google Analytics -->

      <!-- favicons -->
      <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/favicons/favicon.svg' ) }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicons/favicon.ico') }}">
      <link rel="icon" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}" sizes="32x32">
      <link rel="icon" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}" sizes="16x16">

    {% endblock head %}
  </head>

  <body>
    {% block container %}
      <div class="content">
        {% block navbar %}
          <div class="site-nav">
            <div class="row justify-content-center">
              <div class="col-10">
                <div class="row">
                  <div class="col-9">
                    <a href="{{ url_for('home') }}">
                      <img id="nav-img" src="{{ url_for('static', filename='img/logo-header.svg') }}" alt="Lahoma Healing Arts">
                    </a>
                  </div>
                  <div class="col-3">
                    <a id="menu-btn" href="#" data-drawer-trigger aria-controls="site-menu" aria-expanded="false">
                      <div id="menu-title" class="d-none d-sm-block">Menu</div>
                      <img id="menu-icon" src="{{ url_for('static', filename='img/menu.svg') }}" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-gap"></div>

          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <div class="section-margin"></div>
          {% include '_menu-content.html' %}

        {% endblock navbar %}

        {% block layout %}
          <div class="row justify-content-center">
            <div class="col-11 col-sm-10 col-lg-8">

              {% block content %}{% endblock content %}

            </div>
          </div>
        {% endblock layout %}
      </div>

      {% block footer %}
        <footer class="footer">
          <div class="row justify-content-center">
            <div class="col-sm-10">
              <p class="mb-2 mt-3">
                <img src="{{ url_for('static', filename='img/phone.svg') }}"/>
                <a class="ms-2 white" href="tel:+1"></a>
              </p>
              <p class="mb-2">
                <img src="{{ url_for('static', filename='img/mail.svg') }}"/>
                <a class="ms-2 white" href="mailto:"></a>
              </p>
              <p class="">
                <span class="me-3 h2">&copy;</span><script>document.write(new Date().getFullYear())</script>
                Lahoma Healing Arts
              </p>
            </div>
          </div>
        </footer>
      {% endblock footer %}
    {% endblock container %}

    {% block end_scripts %}{% endblock end_scripts %}
  </body>
</html>
