<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>
        {% block title %}
          {% if title %}
            {{ title }} -
          {% endif %}
            Lahoma Healing Arts
        {% endblock title %}
      </title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      {% block styles %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Philosopher&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
      {% endblock styles %}

      <!-- Google Tag Manager -->

      <!-- End Google Tag Manager -->

      <!-- Global site tag (gtag.js) - Google Analytics -->

      <!-- Global site tag (gtag.js) - Google Analytics -->

      <!-- generics --
      <link rel="icon" href="{{ url_for('static', filename='img/favicons/favicon-32.png') }}" sizes="32x32">
      <link rel="icon" href="{{ url_for('static', filename='img/favicons/favicon-128.png') }}" sizes="128x128">
      <link rel="icon" href="{{ url_for('static', filename='img/favicons/favicon-192.png') }}" sizes="192x192">

      <!-- Android --
      <link rel="shortcut icon" sizes="196x196" href="{{ url_for('static', filename='img/favicons/favicon-196.png') }}">

      <!-- iOS --
      <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicons/favicon-152.png') }}" sizes="152x152">
      <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicons/favicon-180.png') }}" sizes="180x180">

      <!-- Windows 8.1 + IE11 and above --
      <meta name="msapplication-config" content="{{ url_for('static', filename='img/favicons/browserconfig.xml') }}" />-->

    {% endblock head %}
  </head>

  <body>
    {% block navbar %}
      <div class="site-nav">
        <div class="row justify-content-center">
          <div class="col-10">
            <div class="row">
              <div class="col-9">
                <a href="{{ url_for('index') }}">
                  <img id="nav-img" src="{{ url_for('static', filename='img/logo-header.svg') }}" alt="Open Path Tutoring">
                </a>
              </div>
              <div class="col-3">
                <a id="menu-btn" href="#" data-drawer-trigger aria-controls="site-menu" aria-expanded="false">
                  <div id="menu-title" class="d-none d-sm-block">Menu</div>
                  <img id="menu-icon" src="{{ url_for('static', filename='img/menu.svg') }}" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <section class="drawer" id="site-menu" data-drawer-target>
        <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
        <div class="drawer__wrapper">
          <div class="drawer__header">
            <div class="drawer__title">

            </div>
            <button class="drawer__close" data-drawer-close aria-label="Close Drawer"></button>
          </div>
          <div class="drawer__content">
            <a href="{{ url_for('index') }}">
              <div class="menu-link">
                <p>Home</p>
              </div>
            </a>
            <a href="{{ url_for('reviews') }}">
              <div class="menu-link">
                <p>Reviews</p>
              </div>
            </a>
            <a href="{{ url_for('about') }}">
              <div class="menu-link">
                <p>About</p>
              </div>
            </a>
            <a href="{{ url_for('index', _anchor='contact') }}">
              <div class="menu-link">
                <p>Contact</p>
              </div>
            </a>
          </div>
        </div>
      </section>
    {% endblock navbar %}

    {% block content %}{% endblock content %}

    {% block footer %}
      <footer class="footer">
        <div class="row justify-content-center">
          <div class="col-sm-10">
            <p class="mb-2 mt-3">
              <img src="{{ url_for('static', filename='img/phone.svg') }}"/>
              <a class="ms-2 white" href="tel:+1"></a>
            </p>
            <p class="mb-2">
              <img src="{{ url_for('static', filename='img/mail.svg') }}"/>
              <a class="ms-2 white" href="mailto:"></a>
            </p>
            <p class="">
              <span class="me-3 h2">&copy;</span><script>document.write(new Date().getFullYear())</script>
              Lahoma Healing Arts
            </p>
          </div>
        </div>
      </footer>
    {% endblock footer %}

    {% block scripts %}
      <script type="text/javascript" src="{{ url_for('static', filename='js/menu.js') }}"></script>
      <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
    {% endblock scripts %}
  </body>
</html>
