{% extends "base.html" %}

{% block content %}
  <div>
    <button id="add-client" class="my-0 me-2 btn d-inline-block">+ Add client</button>
  </div>


  <form id="add-client-form" method="post">
    <h1 class="mb-3 d-inline-block">Add client</h1>
    <a id="hide-form" href="#">Hide</a>

    {{ form.hidden_tag() }}
    {{ form.first_name }}
    {{ form.last_name }}
    {{ form.email }}
    {{ form.phone }}
    {{ form.notes }}
    {{ form.submit(class="mb-3") }}
  </form>
  {% for status in statuses %}
    <h1 class="slide-toggle mt-3">{{ status.title() }} clients</h1>

    <div id="{{ status }}-clients" class="client-list">
      {% for c in clients %}
        {% if c.status == status %}
          <div class="row justify-content-centered">
            <div class="col-9 col-md-10">
              <h2 class="my-1">{{ c.first_name }} {{ c.last_name }}</h2>

              {% if status == 'active' %}
                  <ul class="mb-3">
                    <li>{{ c.email }}</li>
                  </ul>
              {% endif %}
            </div>

            <div class="col-3 col-md-2 text-end">
              <a class="edit btn sec" href="{{ url_for('edit_client', id=c.id) }}">
                Edit
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
{% endblock content %}

{% block end_scripts %}
  <script>
    const slideDown = element => element.style.height = `${element.scrollHeight}px`;
    const slideUp = element => element.style.height = '0px';

    document.getElementById("add-client").addEventListener("click", function () {
      this.parentElement.style.display = "none";
      slideDown(document.getElementById("add-client-form"));
    });

    document.getElementById("hide-form").addEventListener("click", function () {
      slideUp(this.parentElement);
      document.getElementById("add-client").parentElement.style.display = "block";
    });

    let slideToggle = (target) => {
      var style = window.getComputedStyle(target),
          height = style.getPropertyValue('height');
      if (height == '0px') {
        return slideDown(target);
      } else {
        return slideUp(target);
      }
    }

    var elements = document.getElementsByClassName("slide-toggle");

    Array.from(elements).forEach(function(element) {
      element.addEventListener("click", function () {
          slideToggle(element.nextElementSibling);
        });
    });
  </script>
{% endblock end_scripts %}
