{% extends "base.html" %}
{% import '_wtf.html' as wtf %}

{% block head %}
  {{ super() }}
  <meta property="og:title" content="Lahoma Healing Arts" />
  <meta property="og:description" content="The only direction to go is within." />
  <meta property="og:image" content="{{ url_for('static', filename='img/og-image.jpg') }}" />
  <script async src="https://www.google.com/recaptcha/api.js"></script>
{% endblock head %}

{% block navbar %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="row justify-content-center alert alert-info">
          <div class="col-sm-11 col-md-10 col-lg-9">
            <div role="alert">{{ message }}</div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <nav class="row justify-content-center">
    <div class="col-10">
      <div class="row justify-content-center justify-content-md-end">
        <div class="home-nav col-10 col-md-6 col-lg-5 col-xl-4">
          <div><a href="{{ url_for('offerings') }}" data-text="offerings">offerings</a></div>
          <div><a href="#connect" data-text="connect">connect</a></div>
          <div><a href="{{ url_for('iam') }}" data-text="i am">i am</a></div>
        </div>
      </div>
    </div>
  </nav>
{% endblock navbar %}

{% block content %}
  <div class="content">
    <div id="home" class="home-section inverse text-center">
      <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-lg-6">
          <img id="home-logo" class="img-fluid"
            src="{{ url_for('static', filename='img/logo2.svg') }}" alt="">

          <div class="home-next">
            <a href="#benefits">
              <h4>
                ENTER YOUR DEPTHS
              </h4>
              <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
                  bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div id="benefits" class="home-section">

    </div>

    <div id="free-trial" class="home-section inverse">

    </div>

    <div id="connect" class="home-section">
      <div class="row justify-content-center">
        <div class="col-11 col-md-8">
          <h1 class="page-title">Connect with me</h1>

          <form id="inquiry-form" action="" method="post">
            {{ form.hidden_tag() }}
            <p class="mb-3">{{ form.first_name }}</p>
            <p class="mb-3">{{ form.email }}</p>
            <p class="mb-3">{{ form.phone }}</p>
            <p class="mb-3">{{ form.subject }}</p>
            <p class="mb-3">{{ form.message(rows='4') }}</p>
            <input type="submit" class='g-recaptcha', data-sitekey='6Lc3IBcaAAAAANQvPMR7J9MhHZyykxuamsKb4561', data-callback='onSubmit', data-action='submit' />
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/zenscroll-min.js') }}"></script>
  <script>
    zenscroll.setup(null, 0);
  </script>
  <script>
    function onSubmit(token) {
      document.getElementById("inquiry-form").submit();
    }
  </script>
{% endblock content %}
